<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center devReg pt-5">
      Device Registration
    </div>
    <div class="col-12 d-flex justify-content-center pt-5">
      <mat-form-field [style.width.px]="237" appearance="outline">
        <mat-label>Device Label</mat-label>
        <input matInput placeholder="Device Label" />
        <!-- <mat-icon matSuffix>s</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center pt-2">
      <mat-form-field [style.width.px]="237" appearance="outline">
        <mat-label>Serial No</mat-label>
        <input matInput placeholder="Device Label" />
        <!-- <mat-icon matSuffix>s</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <mat-checkbox>I agree to the terms and conditions</mat-checkbox>
    </div>
    <div class="col-12 d-flex justify-content-center pt-5">
      <button class="regDevS" mat-raised-button color="primary">Submit</button>
    </div>
  </div>
</div>
