<div class="container">
  <div class="row pt-5">
    <div class="col-12 d-flex justify-content-center">
      <img src="./../assets/Logo.png" />
    </div>
    <div class="col-12 d-flex justify-content-center">
      <div class="pt-2">Open Battery Cycler</div>
    </div>
    <div class="loginText col-12 d-flex justify-content-center pt-5">
      Register
    </div>
  </div>
  <form (ngSubmit)="submitForm()" [formGroup]="registerForm">
    <div class="row pt-5">
      <div class="col-12 d-flex justify-content-center">
        <mat-form-field [style.width.px]="237" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Enter email" />
          <!-- <mat-icon matSuffix>s</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <mat-form-field [style.width.px]="237" appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            formControlName="firstName"
            class="inp"
            matInput
            placeholder="Enter Password"
          />
          <!-- <mat-icon matSuffix>s</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <mat-form-field [style.width.px]="237" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            formControlName="lastName"
            class="inp"
            matInput
            placeholder="Enter Password"
          />
          <!-- <mat-icon matSuffix>s</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <mat-form-field [style.width.px]="237" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            class="inp"
            type="password"
            matInput
            placeholder="Enter Password"
            formControlName="password"
          />
          <!-- <mat-icon matSuffix>s</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <mat-form-field [style.width.px]="237" appearance="outline">
          <mat-label>Repeat Password</mat-label>
          <input
            class="inp"
            type="password"
            matInput
            placeholder="Enter Password"
            formControlName="confirmPassword"
          />
          <!-- <mat-icon matSuffix>s</mat-icon> -->
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <mat-checkbox formControlName="acceptTerms"
          >I agree to the terms and conditions</mat-checkbox
        >
      </div>

      <div class="col-12 d-flex justify-content-center pt-5">
        <button mat-raised-button color="primary">Submit</button>
      </div>

      <div class="col-12 d-flex justify-content-center pt-5">
        Already have an account?
      </div>
      <div class="regHover col-12 d-flex justify-content-center">
        <u>Login</u>
      </div>
    </div>
  </form>
</div>
