<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-center pt-5 welcomUSer col-12">
      Welcome Mukund
    </div>
    <div class="d-flex justify-content-center pt-5 col-12">
      <img class="pt-3" src="./../../assets/smiley.png" />
    </div>
    <div class="d-flex justify-content-center pt-5 col-12 getStartText pb-5">
      To get started add a device
    </div>
    <div class="col-12 d-flex justify-content-center pt-5">
      <button
        mat-raised-button
        color="primary"
        class="registerButon"
        (click)="regDevS()"
      >
        Register
      </button>
    </div>
  </div>
</div>
